RewriteEngine on
RewriteRule ^api(.*) http://127.0.0.1:9080/$1 [proxy]
ErrorDocument 503 "Sorry, the MTT Server does not seem to be running!"

AuthType Basic
AuthName "MTT/Open MPI nightly regression results"
# use: htpassword /path/to/.htpassword USERNAME
AuthUserFile /path/to/.htpassword
Require valid-user
