# CherryPy at 9.0.0 is broken for our setup
# - force the last known working version
CherryPy==8.9.0
requests>=2.11.1
configobj>=5.0.6
six>=1.10.0
wheel>=0.29.0
psycopg2>=2.6.2
virtualenvwrapper>=4.7.2
